.button {
    display: block;
    width: 200px;
    height: 60px;
    margin: 50px auto;
    background-color: #6c5aff;
    color: white;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: Consolas;
    transition: background-color 0.5s;
}
.home {
    position: absolute;
    top: 20px;
    right: 2%;
}
.button:hover {
    background-color: #2d2855;
}
body {
    margin: 0;
    height: 170vh;
    background: linear-gradient(to bottom, #b9b9ff, #FFFFFF);
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.scroll-container {
    width: auto;
    height: 900px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.p-sideways{
    transform: rotate(270deg);
}